<div style="background-color: lightslategray; min-height: 100vh;">
  <div class="chat-box">
    <div *ngFor="let comment of comments"
         [class.mine]="comment.isMyComment()"
         [class.yours]="comment.isYourComment()">
      <p>{{ comment.content }}</p>
    </div>
  </div>

  <div class="input-box">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input [(ngModel)]="message" class="input" type="text" placeholder="type to message">
      </p>
      <p class="control">
        <button (click)="send()" class="button is-info" [disabled]="!message">
          <span class="icon is-small">
            <i class="fas fa-paper-plane"></i>
          </span>
        </button>
      </p>
    </div>
  </div>
</div>
