.chat-box {
  background-color: lightslategray;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  overflow: auto;
  height: calc(100vh - 57.6px - 56px);
}

.input-box {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right:10px;
  background-color: whitesmoke;
  bottom: 57.6px;
  position:fixed;
  min-width: 100vw;
}

.yours {
  display: block;
  position: relative; 
  margin: 10px 0 0 10px;
  padding: 15px 10px;
  border-radius: 12px;
  background: whitesmoke;
  width: auto;
  margin-right: auto;
  max-width: 40vw;
}

.yours:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid whitesmoke;
}

.yours p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

.mine {
  display: block;
  position: relative; 
  margin: 10px 0 0 10px;
  padding: 15px 13px;
  border-radius: 12px;
  background: chartreuse;
  margin-left: auto;
  max-width: 40vw;
}

.mine:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid chartreuse;
}

.mine p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

