<div class="chat-box">
  <div class="yours">
    <p>my name is saijo. what is your name?</p>
  </div>
  <div class="mine">
    <p>my name is ikeda. nice to meet you.</p>
  </div>
  <div class="yours">
    <p>my name is saijo. what is your name?</p>
  </div>
  <div class="mine">
    <p>my name is ikeda. nice to meet you.</p>
  </div>
  <div class="yours">
    <p>my name is saijo. what is your name?</p>
  </div>
  <div class="mine">
    <p>my name is ikeda. nice to meet you.</p>
  </div>
  <div class="yours">
    <p>my name is saijo. what is your name?</p>
  </div>
  <div class="mine">
    <p>my name is ikeda. nice to meet you.</p>
  </div>
  <div class="yours">
    <p>my name is saijo. what is your name?</p>
  </div>
  <div class="mine">
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  </div>
</div>  

<div class="input-box">
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input class="input" type="text" placeholder="type to message">
    </p>
    <p class="control">
      <button class="button is-info">
        <span class="icon is-small">
          <i class="fas fa-paper-plane"></i>
        </span>
      </button>
    </p>
  </div>
</div>
