<nav class="navbar is-primary is-fixed-bottom" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-expanded is-block has-text-centered"
       routerLink="/home"
       routerLinkActive="is-active">
      <i class="fa fa-home"></i>
      <p class="is-size-7">Home</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered"
       routerLink="/rooms/{{ getCurrentRoom() }}/chat"
       [class.is-active]="isActive(['rooms', getCurrentRoom(), 'chat'])">
      <i class="fa fa-comment-dots"></i>
      <p class="is-size-7">Chat</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered"
       routerLink="/account"
       routerLinkActive="is-active">
      <i class="fa fa-user"></i>
      <p class="is-size-7">Account</p>
    </a>
  </div>
</nav>