<div class="home">
  <div class="field search-field">
    <p class="control has-icons-left">
      <input #searchInput class="input is-rounded" type="text" placeholder="search by tag" (blur)="search(searchInput.value)">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>
  <div *ngFor="let room of rooms" class="card">
    <header class="card-header">
      <div *ngIf="room.isFav; then fav; else notFav;"></div>
      <ng-template #fav>
        <div class="card-header-icon" (click)="toggleFav(room)">
          <span class="icon has-text-danger">
            <i class="fas fa-heart" aria-hidden="true"></i>
          </span>
        </div>
      </ng-template>
      <ng-template #notFav>
        <div class="card-header-icon" (click)="toggleFav(room)">
          <span class="icon has-text-danger">
            <i class="far fa-heart" aria-hidden="true"></i>
          </span>
        </div>
      </ng-template>
      <div *ngIf="room.private" class="card-header-icon">
        <span class="icon has-text-warning">
          <i class="fas fa-lock" aria-hidden="true"></i>
        </span>
      </div>
      <p class="card-header-title">
        {{ room.name }}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{ room.description }}
        <div>
          <span *ngFor="let tag of room.tags" class="tag is-info" style="margin-right: 5px;">
            {{ tag }}
          </span>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a (click)="share(room)" class="card-footer-item">Share</a>
      <a (click)="entryRoom(room)" class="card-footer-item">Entry</a>
    </footer>
  </div>
  <button (click)="searchMore()" class="button is-fullwidth is-light" style="margin-top: 10px;">More...</button>
</div>

<button class="button is-fab is-large is-info" (click)="openModal()">
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
</button>

<app-create-modal [isOpen]="isOpenCreateModal" (onClose)="closeModal()"></app-create-modal>

<app-password-modal [isOpen]="isOpenPasswordModal" [room]="currentRoom" (onClose)="closePasswordModal()"></app-password-modal>