<div class="modal" [class.is-active]="isOpen">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Please Password Enter For Room Entry</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Password*</label>
        <div class="control">
          <input [(ngModel)]="password" class="input" type="text">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="entry()">Entry</button>
      <button class="button" (click)="close()">Cancel</button>
    </footer>
  </div>
</div>