<div class="home">
  <div class="field search-field">
    <p class="control has-icons-left">
      <input #searchInput class="input is-rounded" type="text" placeholder="search by tag" (blur)="search(searchInput.value)">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>
  <div *ngFor="let room of rooms" class="card">
    <header class="card-header">
      <div *ngIf="room.private" class="card-header-icon">
        <span class="icon">
          <i class="fas fa-lock" aria-hidden="true"></i>
        </span>
      </div>
      <p class="card-header-title">
        {{ room.name }}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{ room.description }}
        <div>
          <span *ngFor="let tag of room.tags" class="tag is-info" style="margin-right: 5px;">
            {{ tag }}
          </span>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a (click)="share(room.id)" class="card-footer-item">Share</a>
      <a routerLink="/rooms/{{ room.id }}/chat" class="card-footer-item">Entry</a>
    </footer>
  </div>
  <button (click)="searchMore()" class="button is-fullwidth is-light" style="margin-top: 10px;">More...</button>
</div>

<button class="button is-fab is-large is-info" (click)="openModal()">
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
</button>

<div class="modal" [class.is-active]="isOpenModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">new Room</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input [(ngModel)]="newRoom.name" class="input" type="text">
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea [(ngModel)]="newRoom.description" class="textarea"></textarea>
        </div>
      </div>
      <label class="label">Tag</label>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input [(ngModel)]="tag" class="input" type="text">
        </p>
        <p class="control">
          <button class="button is-info" (click)="addTag()">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
          </button>
        </p>
      </div>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control" *ngFor="let tag of newRoom.tags">
          <div class="tags has-addons">
            <a class="tag is-info">{{ tag }}</a>
            <a (click)="deleteTag(tag)" class="tag is-delete"></a>
          </div>
        </div>
      </div>
      <label class="checkbox">
        <input [(ngModel)]="newRoom.private" type="checkbox">private
      </label>
      <div *ngIf="newRoom.private" class="field">
        <p class="control has-icons-left">
          <input [(ngModel)]="newRoom.password" class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="save()">Save</button>
      <button class="button" (click)="closeModal()">Cancel</button>
    </footer>
  </div>
</div>