.is-fab {
  position: fixed;
  bottom: 80px;
  right: 30px;
  border-radius: 50%;
}

.home {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  overflow: auto;
  height: calc(100vh - 57.6px);
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}